<form method="post" enctype="multipart/form-data" id="frm">
    <label id="selector2" for="file2">Subir archivo</label>
    <input type="file" accept=".pdf" id="file2" hidden />
    <button id="btnr" type="submit" onclick="lanzarAjax()">Subir archivo</button>
    <span id="spn" class="text-danger"></span>
</form>
<script type="text/javascript">
    
</script>
